<p>ventes works!</p>
<div class="content">
<h1>
  Componenet Vente

</h1>
</div>
<div class="container">

<!--
<p>
<ol style="font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorum fugiat voluptate a, excepturi, quo temporibus veritatis animi modi magnam accusantium aspernatur eaque! Et maiores distinctio expedita voluptates quos voluptas.</li>
  <li>Vitae sapiente vero animi unde similique optio aperiam delectus, earum impedit, vel dolorum quaerat aliquam aliquid cupiditate a qui velit tempora quam distinctio eius ipsum eaque. Sapiente tempora in placeat.</li>
  <li>Quidem culpa consequatur esse, labore iste ad architecto. Totam placeat expedita tempore deserunt rem distinctio! Quas atque perferendis in, doloremque ducimus nam molestiae dolorem aliquid repellat laudantium quia. Cum, assumenda.</li>
  <li>Numquam nam molestiae tempora vero, recusandae nemo incidunt, hic quod asperiores assumenda placeat perferendis ad temporibus animi consequuntur veniam laborum laudantium? Quae enim fuga neque cupiditate nemo accusamus labore totam.</li>
  <li>Placeat est natus corrupti non dolorum, dolorem laborum ab neque mollitia officiis possimus nesciunt voluptatibus esse fuga iste nemo eum molestiae doloribus dolores excepturi perferendis ex! Aut fuga molestiae nobis.</li>
  <li>Quasi quam tempore soluta molestias tenetur natus quas illum nulla esse eum nisi veritatis eveniet laudantium consequuntur sint magnam vero quos, provident illo ab cupiditate. Ab iste maxime expedita dolorem.</li>
  <li>Dolor voluptas veniam nostrum praesentium sit, qui exercitationem? Reiciendis dolores sequi, quod quasi fugit rerum quidem. Autem a laboriosam sit cum ullam! Vel modi assumenda natus quas ipsa fugit enim.</li>
  <li>Commodi sint aut doloremque facere ducimus velit ipsa qui id eligendi molestiae neque eos est exercitationem iste non suscipit cum, harum optio ipsum et saepe delectus voluptatem! Totam, ad iusto.</li>
  <li>Tempore aperiam blanditiis esse harum tenetur. Recusandae ipsum nesciunt cupiditate impedit laudantium expedita consectetur iste quam omnis obcaecati placeat nobis tempore eligendi, aliquam doloremque sunt nihil reiciendis culpa saepe quisquam!</li>
  <li>Eos, amet ipsam. Beatae minima vel distinctio dolor aut autem, deserunt, quibusdam optio doloribus reiciendis magnam eum, ratione facere quidem possimus asperiores illum ducimus quo dignissimos tempora corrupti laudantium adipisci.</li>
</ol>
</div>
-->